body {
    font-family: "Roboto Serif";
    background-color: #4C70A6;
    color:#00DBC9; 
}

    h1, h2, h3, h4, h5, h6 {
    font-family: "Protest Guerrilla";
    text-align: center;
    font-size: 40pt;
    }

    h2 {
        margin: 0.1em;
    }

    header {
        text-align: center;
    }

    #hero,footer {
        color:#3B8A7E;
        border:#7DCFDB;
        background-color:#51B4DB;
        text-align:center;
        padding: 15px;
    }
    
/*Hero Section*/

    #hero img {
        width:300px;
        align-content: center;
    }

/*Bio Section*/

    #bio {
        text-align:center;
     }

/*Hobbies Section*/

section#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 1px solid #51B4DB;
}

     #hobbies ul li:nth-child(even) li:nth-child(odd) {
        color:antiquewhite
     }

     /* Gallery */

    #gallery {
        text-align:center;
        border: 4px; color:#8cd1ff;
    } 

    #gallery img {
       max-width:40rem;
       align-items: center;
    }

    #gallery figure {
        text-align: center;
    }

    /*Literature*/
    #lit {
        border: 4px; color: #00ffaa;
        margin-bottom:3rem;
    }

    #lit div {
        padding:2rem;
        max-width: 40rem;
        margin: 0 auto; 
    }

    #lit div p {
        padding: 0.3rem 0;
        clear:both;
    }

    /*Dropcaps*/

    #lit div p::first-letter {
        color:#00ffaa;
        float:left;
        font-size:1em;
        padding:.30em;
        line-height:.55;
        border: 4px outset #3267A1;
    }

/*h2 and margin changes*/

    @media screen and (min-width: 60em) {
        figure {
            display: grid;
            grid-template-columns: 1fr; 

        }
        figcaption {
            display: flex;
            justify-content: center; 
            align-items: center;
            font-size: 2rem;
            margin-left: 1rem;
        }
    } 

    #lit div {
        max-width: 100%;
        columns: 20rem;

    }