body {
    font-family: "Roboto Serif";
    background-color: #4C70A6;
    color:#00DBC9; 
}

    h1, h2, h3, h4, h5, h6 {
    font-family: "Protest Guerrilla";
    text-align: center;
    }
    h1 {
        font-size:40pt;
    }

    header {
        text-align: center;
    }

    #hero,footer {
        color:#3B8A7E;
        border:#7DCFDB;
        background-color:#51B4DB;
        text-align:center;
        padding: 15px;
    }
    
/*Hero Section*/

    #hero img {
        width:300px;
        align-content: center;
    }

/*Bio Section*/

    #bio {
        text-align:center;
     }

/*Hobbies Section*/

     #hobbies ul li:nth-child(even) li:nth-child(odd) {
        color:antiquewhite
     }

     /* Gallery */

    #gallery {
        text-align:center;
        border: 4px; color:#8cd1ff;
    } 

    #gallery img {
       max-width:40rem;
    }

    #gallery figure {
        text-align:center;
        align-content:center;
    }

    /*Literature*/
    #lit {
        border: 4px; color: #00ffaa;
        margin-bottom:3rem;
    }

    #lit div {
        padding:2rem;
        max-width: 40rem;
        margin: 0 auto; 
    }

    #lit div p {
        padding: 0.3rem 0;
        clear:both;
    }

    /*Dropcaps*/

    #lit div p::first-letter {
        color:#00ffaa;
        float:left;
        font-size:1em;
        padding:.25em;
        line-height:.55;
        border: 4px outset #3267A1;
    }